<?xml version="1.0" encoding="utf-8"?>
<manifest package="martingele.sciencetime"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Joni"
        >


        <activity
            android:name=".activities.TopScienceNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.StartingActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/Joni"
            android:windowActionBar="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.NewsDetailsActivity">
        </activity>
        <activity
            android:name=".activities.PopUpActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity
            android:name=".activities.TopNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.HealthNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.TechnologyNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.EnviormentNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.SocietyNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.MostPopularNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
    </application>

</manifest>